ul#menu .homenav {
	background-color: #c80000;
	float: left;
	height: 50px;
}
ul#menu div.homenav:hover {
	background-color: #de0803;
	border-bottom: 5px solid #c00000;
}
ul#menu .current:hover {
	border-bottom: 0px solid #d90000;
}
.time{
	background-color: #c80000;
	padding: 0px 10px;
	float: right;
	color: #FFF;
	font-size: 18px;
	font-family: Segoe UI;
}
ul#menu li:hover > a {
	background-color: rgba(240,0,0,0.4);
	border-bottom: 5px solid #c00000;
}
ul#menu li:hover a:hover{
	background-color: #de0803;
}
ul#menu .current {
	border-bottom: 5px solid #d90000;
	background-color: rgba(240,0,0,0.4);
}
.table {
	width: 100%;
}
input[type=text], select {
	width: 90%;
	padding: 12px 20px;
	margin: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 90%;
	background-color: #c01010;
	color: white;
	padding: 14px 20px;
	margin: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
			
input[type=submit]:hover {
	background-color: #cc0000;
}
			
form {
	border-radius: 5px;
	padding: 10px;
}
			
fieldset {
	background-color: #f2f2f2;
}