ul#menu .homenav {
	background-color: #c80000;
	float: left;
	height: 50px;
}
ul#menu div.homenav:hover {
	background-color: #de0803;
	border-bottom: 5px solid #c00000;
}
ul#menu .current:hover {
	border-bottom: 0px solid #d90000;
}
.time{
	background-color: #c80000;
	padding: 0px 10px;
	float: right;
	color: #FFF;
	font-size: 18px;
	font-family: Segoe UI;
}
ul#menu li:hover > a {
	background-color: rgba(240,0,0,0.4);
	border-bottom: 5px solid #c00000;
}
ul#menu li:hover a:hover{
	background-color: #de0803;
}
ul#menu .current {
	border-bottom: 5px solid #d90000;
	background-color: rgba(240,0,0,0.4);
}
.table {
	width: 100%;
}